<head>
  <style>
    @font-face { 
    font-family: 'Sam3KRFont'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Sam3KRFont.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; 
    }
    *{
        font-family: 'Sam3KRFont'; 
    }
  </style>
</head>


<h1>create test</h1>

<div class = 'container'>
    <form method = 'POST'>
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <br>
        <input class="btn bin-dark" type="submit" value="글작성하기">
    </form>
</div>
