<head>
  <style>
    @font-face { 
    font-family: 'Sam3KRFont'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Sam3KRFont.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; 
    }
    *{
        font-family: 'Sam3KRFont'; 
    }
  </style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<!--
<h1>show test</h1>

<h4><a href = "{% url 'create' %}"> 글작성하러가기! </a></h4>

<a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
  <form id="logout" method="POST" action="{% url 'logout'%}">
      {% csrf_token %} <input type="hidden" />
  </form>

{% for blog in blogs.all %}
    <div class="container">
        <a href="{% url 'detail' blog.id %}">
            <h1>제목 : {{blog.title}}</h1>
        </a>
        <p>내용 :  {{blog.body}}</p>
        <small class="text-muted">{{blog.pub_date}}</small>
    </div>
{% endfor %}

<li class="nav-item">
      <a class="nav-item nav-link" href="{% url 'signup' %}">Signup</a>
  </li>
  <li class="nav-item">
      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
  </li>


-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">환영합니다. {{ user.username }} 님!</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'create' %}">글쓰기</a>
                            <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                            <form id="logout" method="POST" action="{% url 'logout' %}">
                                {% csrf_token %} <input type="hidden" />
                            </form>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    
{% for blog in blogs.all %}
    <div class="container">
        <p>
        </p>
        <p>
        </p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
        <a href="{% url 'detail' blog.id %}">
            <h1>{{blog.title}}</h1>
        </a></h5>
    <h6 class="card-subtitle mb-2 text-muted">
        {{blog.update_Date}}</h6>
    <p class="card-text">{{blog.body}}
     
        <a href="{% url 'detail' blog.id %}">
        더보기!</a>
    </p>
  </div>
</div>

    </div>
{% endfor %}